<div class="home-wrapper text-center">
  <div class="home-container container">
      <h1>Poker Live Tracker</h1>
      <h2>戦績保存　スタッツ計測</h2>
      <%= link_to "Login", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Signup", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
